* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    background-color: rgba(128, 128, 128, 0.364);
  }
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    height: 100vh;
  }
  .box {
    width: 150px;
    height: 150px;
    background-color: burlywood;
    animation-name: b3;
    animation-duration: 1.6s;
    animation-delay: 2s;
  }
  .block1 {
    width: 150px;
    height: 150px;
    background-color: blue;
    /* transform: translateX(-200px); */
    animation-name: b1;
    animation-duration: 3.5s;
  }
  .block2 {
    width: 150px;
    height: 150px;
    background-color: blue;
    /* transform: translateY(-200px) translateX(200px); */
    animation-name: b2;
    animation-duration: 3.5s;
  }
  @keyframes b1 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(320px);
    }
  }
  @keyframes b2 {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-320px);
    }
  }
  @keyframes b3 {
    from {
      width: 150px;
      height: 150px;
    }
    to {
      width: 76px;
      height: 200px;
    }
  }